* {
/* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
}

window#waybar {
  background-color: transparent;
  border-bottom: transparent;
  color: #fff;
	transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

/* Module groups */
#workspaces,
.modules-left,
.modules-right { 
  background-color: #1a1a1a;
  color: #b8b8b8;
  padding: 4px 10px;
  margin: 4px 16px;
  border-radius: 10px;
  opacity: 0.8;
  border: none;
}

#workspaces button {
  color: #5e5e5e;
  margin: 5px 8px;
}

#workspaces button.active {
  color: #fff;
}

#workspaces button.empty {
  color: #000;
}

#clock,
#network,
#pulseaudio,
#tray,
#window,
#workspaces {
  margin: 4px 4px;
  color: #b8b8b8;
}

label:focus {
  background-color: #000000;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
	background-color: #eb4d4b;
}

